.navbar {
  a {
    // Target the navigation links in the desktop menu
    &.text-gray-200:hover {
      color: white; 
      // Add a subtle text shadow for a glowing effect on hover
      text-shadow: 0 0 5px rgba(0, 184, 148, 0.5); 
    }
  }
}
.group\/item:hover span {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
